set surround
set commentary

" ==== General ====
set clipboard+=unnamedplus

set ignorecase
set smartcase

set number
set relativenumber

set incsearch
set hlsearch

set timeoutlen=1000 ttimeoutlen=0


" ==== Key Binding ====
" Space as leader
let mapleader = " "
let maplocalleader = " "

" Reload .ideavimrc
nnoremap <Leader>R :source ~/.ideavimrc<CR>

inoremap jk <Esc>

" Save file with <leader>-s
nnoremap <Leader>s :w<CR>

" Turn of highlighting
nnoremap <Leader>l :nohl<CR>

" Splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-w>q :action CloseContent<CR>
nnoremap <C-q> :action CloseContent<CR>

" Navigate tabs faster
nnoremap [t gT
nnoremap ]t gt
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt
noremap <leader>6 6gt
noremap <leader>7 7gt
noremap <leader>8 8gt
noremap <leader>9 9gt
noremap <leader>0 :action GoToLastTab<cr>

" ==== IDE actions ====
" Also possible to use gq instead to reformat
noremap <Leader>f :action ReformatCode<CR>
nnoremap <Leader>o :action OptimizeImports<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>u :action FindUsages<CR>
nnoremap [g :action GotoPreviousError<CR>
nnoremap ]g :action GotoNextError<CR>
nnoremap gp :action ParameterInfo<CR>


